/* .nav-wrapper {
  margin-bottom: 20px;
} */
#nav-bar {
  margin-bottom: 20px;
}

#google-map {
  height: 400px;
}

.top-half {
  margin-top: 20px;
  margin-bottom: 10px;
}

#item-list {
  margin-top: 10px;
}
/*=====================
khoi
=====================*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	padding-left: 100px;
	padding-right: 100px;
}

.logo {
	font-family: 'Tangerine', cursive;
	font-size: 50px;
}

.logoRight {
	margin-left: 7px;
	padding: 4px;
	padding-right: 10px;
	border: 1px solid #fff;
}

#boxSelection {
	margin-top: 10px;
	color: #111;
}

#box-storage {
	padding-top: 12px;
	padding-bottom: 10px;
}

#addButton {
	margin-left: 50px;
	margin-bottom: 40px;
}

#cardImg {
	margin-top: 10px;
	border: 2px solid #fd8;
}

#cardBtn {
	padding-top: 4px;
}

#addCard {
	padding: 25px;
}

.itemCard {
	color: red;
	font-size: 40px;
}

#navImg {
	background: url(../img/header.jpg);
	height: 200px;
	background-position: center;
	border-top: 5px solid #5D5C61;
}

.btn-floating {
	margin-left: 10px;
}

.input-field {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 15px;
}

#vboxSubmit {
	margin-bottom: 17px;
}

#textBox1 {
	margin-bottom: 0;
}

#textBox2 {
	margin-bottom: 0;
}

#vboxBtn {
	background-color: #fff;
	border-radius: 5px;
}

#updateModal {
	width: 400px;
	height: 500px;
	padding: 20px;
}

.modal-content {
	padding: 0;
}

#destroyModal {
	width: 400px;
	height: 200px;
	padding: 20px;
}

#searchSection {
	margin-bottom: 50px;
}

.footer-copyright {
	border-top: 5px solid #fd8;
	height: 250px;
	background-color: #5bb;
}

#map {
	border: 1px solid red;
	height: 250px;
	width: 250px;
}